* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
}

header {
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(135deg, #7C71D3 0%, #C891CF 70%);
}

svg {
    width: 15px;
    align-self: flex-end;
}

.cards {
    position: relative;
    top: -8em;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.card {
    width: 70%;
    height: 50vh;
    background: #fff;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    max-width: 300px;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 0.5em;
}

.user {
    text-align: center;
    margin-bottom: 2em;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.stats {
    text-align: center;
}

p {
    font-family: sans-serif;
    font-weight: bold;
}
span {
    display: block;
    font-weight: normal;
}